
    body {
            font-family: Arial;
            margin: 0;
            padding: 0;
            background-color: salmon;
           text-align: center;
        }
    nav {
            background-color: yellow;
            padding: 10px;
            display: flex;
            gap: 30px;
            justify-content: center;
        }
    nav a:hover {
            background-color: #575757;
            border-radius: 4px;
        }
    .container {
            padding: 20px;
        }
    fieldset   {
            width: 30%;
    }
